:root,
:root * {
    box-sizing: border-box;
    font-family: system-ui;

    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --orange-yellow-crayola: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
    color: var(--charcoal);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--orange-yellow-crayola);

    & .app {
        display: grid;
        height: 100%;
        padding: 0 0 20px 0;
        grid-template-rows: auto 60px;
        font-size: max(2.5vh, 2vw);
        grid-gap: 2vh;

        & .content {
            background-color: var(--sandy-brown);
            overflow-y: scroll;
            padding: 0 40px;
            display: grid;

            & .center {
                justify-self: center;
                width: min(800px, 100%);

                & h1 {
                    text-align: center;
                }

                & h2 {
                    margin: 20px 0;
                }

                & dl {
                    width: 100%;
                    justify-self: center;
                    margin: 20px 0;
                    border-radius: 10px;

                    & dt {
                        font-weight: bold;
                        margin-right: 0;
                    }

                    & dd {
                        margin-left: 2em;
                    }
                }
            }
        }

        & button {
            border: none;
            border-radius: 5px;
            background-color: var(--persian-green);
            color: var(--sandy-brown);
            line-height: 0;
            font-size: 30px;
            font-weight: bold;
            justify-self: center;
            padding: 5px 20px;
        }
    }
}
